
<div class="container-body">

  <div class="container-login">
      <div class="div-image">
        <img src="assets/iconQuiz.svg" alt="" style="width: 140px;height: 140px;">
      </div>
      <div class="div-name">
        Ajoutez un mot de passe
      </div>
      <div class="div-password">
            <form class="formPassword" [formGroup]="myForm" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline">
                  <mat-label>Mot de passe</mat-label>
                  <input matInput placeholder="Entrer votre mot de passe" [type]="hide ? 'password' : 'text'" name="password" 
                         style="color:#454546;" formControlName="password">
                  <mat-error *ngIf="myForm.controls.password.hasError('required')">Veuillez fournir un mot de passe</mat-error>

                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Confirmation mot de passe</mat-label>
                  <input matInput placeholder="Confirmer votre mot de passe" [type]="hide ? 'password' : 'text'" name="password"
                         formControlName="confirmPassword"  [errorStateMatcher]="matcher" style="color:#454546;">
                  <mat-error *ngIf="myForm.hasError('notSame')">Mot de passe non identiques</mat-error>

                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                </mat-form-field>

                <div class="div-button">
                  <button class="button-valider" type="submit" [disabled]="!myForm.valid">Valider</button>
                </div>
            </form>
      </div>

      
  </div>
</div>
